extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Marlene Guzman
        p Idea Generator, Software Engineer & Lifelong learner
        .about-bio
          p No bugs here, just undocumented features. I am a software engineer – the kind that codes all day and is never awake before 3 pm.  

      .skills-contact-box.box
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info
        ul
          li marlene@code.com
        a.btn-link(href='https://www.linkedin.com/in/marlenegm/', target="_blank") LinkedIn
        a.btn-link(href='https://github.com/mardb/',target="_blank") GitHub
        a.btn-link(href='https://twitter.com/Marleyzzle',target="_blank") Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back