extends layout.pug

block content

  article.portfolio-intro
    h1 My Work

    p Work I have completed in 2022 using HTML, CSS,vanilla Javascript and various frameworks.  


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.thumbnails[0]}`, alt='')
            h5= project.title

